@import "../common/variables";
@import "../common/mixins";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -25px;
  margin-bottom: 52px;
}

.footer__link {
  margin-left: 25px;
  text-decoration: unset;
  font-size: 18px;
  color: white;
  transition: 0.3s;

  &:hover {
    color: $link-color;
  }
}
