@import "../common/variables";
@import "../common/mixins";

.header {
  padding-top: 69px;
}

.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  text-decoration: unset;
  color: white;
  width: 170px;
  height: 48px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../media/header-btn-border.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
