@import "../common/variables";
@import "../common/mixins";

.nav {
  display: flex;
  max-width: 790px;
  width: 100%;
  justify-content: space-between;
  margin-left: auto;

  @media (max-width: 1280px) {
    display: none;
  }
}

.nav__item {
  position: relative;
  font-size: 18px;
  color: $link-color;
  transition: 0.3s;
  text-decoration: unset;

  &:hover {
    color: $link-hover-color;
  }
}
