@import "../common/variables";
@import "../common/mixins";

.roadmap {
  display: block;
  padding-bottom: 360px;
  background-image: url("../media/roadmap-bg.png");
  background-repeat: no-repeat;
  background-position: 0 40%;

  @media (max-width: 767px) {
    background-image: unset;
    padding-bottom: 140px;
  }
}

.roadmap__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 67px;
}

.roadmap__title {
  @include text-gradient(radial-gradient(61.08% 217.83% at 44.64% -25.2%, #FFE600 0%, #CD69EA 48.88%, #1070FF 100%));

  font-size: 90px;
  font-weight: 700;
  line-height: 1;
  margin-top: unset;
  margin-bottom: 22px;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 50px;
    margin-bottom: 15px;
  }
}

.roadmap__subtitle {
  font-size: 24px;
  font-weight: 400;
  color: #C7DDF6;

  @media (max-width: 767px) {
    font-size: 15px;
    text-align: center;
    max-width: 170px;
  }
}
.roadmap__wrap {
  cursor: grab;
}

.roadmap__flex {
  display: flex;
  height: 210px;
  align-items: flex-end;
}

$border: 1px solid rgba(255, 255, 255, 0.1);

.roadmap__start,
.roadmap__end {
  min-width: calc((100vw - 1400px) / 2);
  border-top: $border;
  margin-bottom: 80px;

  @media (max-width: 1550px) {
    min-width: 150px;
  }
}

.roadmap__year {
  position: relative;
  margin-bottom: 80px;
  height: 135px;
  border-bottom: $border;
  font-size: 14px;
  font-weight: 300;
  color: white;
  box-sizing: border-box;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 85px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #797B8D;
  }
}

.roadmap__month {
  position: relative;
  height: 80px;
  border-top: $border;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: content-box;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 49px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #797B8D;
  }
}

.roadmap__event {
  position: relative;
  margin-bottom: 80px;
  height: 135px;
  border-bottom: $border;
  font-size: 21px;
  font-weight: 600;
  color: white;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 57px;
  white-space: nowrap;

  &::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    bottom: -11px;
    border-radius: 50%;
    background: linear-gradient(180deg, #FFFFFF 0%, #E097FF 100%);
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(104, 83, 248, 0.3);
  }
}
